<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start" color="primary" >
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>PoKeG</ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/Pokeball.png"></ion-img>
      </ion-avatar>
   </ion-buttons>

  </ion-toolbar>
</ion-header >

<ion-content color="secondary">

  <ion-card>
    
    <ion-card-header color="primary">
      <ion-card-title class="titulo">Pokemon</ion-card-title>
      <ion-card-subtitle class="subtitulo">Primera generacion</ion-card-subtitle>
    </ion-card-header>
      <img src="/assets/Primera generacion.jpg">

    <ion-card-content  class="ion-padding contenido" >
      Los Pokémon son criaturas ficticias, que dependiendo de la especie o el tipo, pueden tener rasgos físicos parecidos a animales, plantas, rocas, fantasmas, o incluso humanos (aunque de tamaño en muchos casos muy superior a lo que mediría la especie a la que se parece). Poseen poderes fantásticos que pueden utilizar llevando a cabo movimientos o habilidades para atacar, defenderse o cumplir sus necesidades. Generalmente pueden vivir en todo tipo de entornos, subsistiendo en la libertad de la naturaleza o conviviendo con humanos y ayudándolos.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-item href="https://pokemon.fandom.com/es/wiki/Lista_de_Pok%C3%A9mon_de_la_primera_generaci%C3%B3n" target="_blank">
      <ion-icon name="logo-vercel" slot="start"></ion-icon>
      <ion-label>Pokemones de primera generacion</ion-label>
    </ion-item>


    
      
  </ion-card> 
  <ion-card >
    <ion-item href="https://pokemon.fandom.com/es/wiki/Lista_de_Pok%C3%A9mon_de_la_segunda_generaci%C3%B3n" target="_blank">
      <ion-icon name="logo-vercel" slot="start"></ion-icon>
      <ion-label>Pokemones de Segunda generacion</ion-label>
    </ion-item>


    
      
  </ion-card>
</ion-content>
