<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        DefaultHref="/"
        Text="Volver"
        Color="secondary"
        Mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Inicio sesion</ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/Pokeball.png"></ion-img>
      </ion-avatar>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="secondary">

  <form #formulario="ngForm" (ngSubmit) ="onSubmit()">

    <ion-item>
      <ion-label>Ingrese su nombre:</ion-label>
      <ion-input type="text"
                 name="Nombre" [(ngModel)]="usuario.Nombre"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de nacimiento:</ion-label>
      <ion-datetime type="datetime"
                    name="Nacimiento" [(ngModel)]="usuario.Nacimiento"
                 required>
      </ion-datetime>           
    </ion-item>

    <ion-item>
      <ion-label>Pokemon favorito:</ion-label>
      <ion-input type="text"
                 name="Favorito" [(ngModel)]="usuario.Favorito"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input type="email"
                 name="email" [(ngModel)]= "usuario.email"
                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password: </ion-label>
      <ion-input type="password"
                 name="password" [(ngModel)]= "usuario.password"
                 required>
      </ion-input>
    </ion-item>
    
    <ion-button [disabled] ="formulario.invalid"
              type="submit" expand="block" routerLink="/pokemones">
        Ingresar
    </ion-button>



  </form>


</ion-content>