<ion-header [translucent]="true">

  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button
        DefaultHref="/"
        Text="Volver"
        Color="secondary"
        Mode="ios">
      </ion-back-button>
    </ion-buttons>

    <ion-title>
      Iniciar sesion
    </ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/Pokeball.png"></ion-img>
      </ion-avatar>
   </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding" color="secondary">
  <ion-card-content>
    <form  #formulario="ngForm" class="form-signin">
      <ion-card >
        <ion-label position="fixed">Nombre</ion-label>
        <ion-input name="Nombre" [(ngModel)]="user.Nombre" type="text" required></ion-input>
      </ion-card>
  
      <ion-card >
        <ion-label  position="fixed">Password</ion-label>
        <ion-input name="password" [(ngModel)]="user.password" type="password" required></ion-input>
      </ion-card>
  
      <ion-button class="ion-margin-top btnLogin " type="submit" expand="block"  
      (click)="signIn()" routerLink="/pokemones" color="danger"  [disabled]="formulario.invalid">
        Iniciar sesion
      </ion-button>
  
  
      <ion-button color="dark" expand="block" fill="outline" [routerLink]="['/categorias']">Crear cuenta</ion-button>
    </form>
  
  </ion-card-content>
</ion-content>
