<ion-header [translucent]="true">

  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button
        DefaultHref="/"
        Text="Volver"
        Color="secondary"
        Mode="ios">
      </ion-back-button>
    </ion-buttons>

    <ion-title>
      Iniciar Sesion
    </ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/Pokeball.png"></ion-img>
      </ion-avatar>
   </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding" color="secondary">

  <ion-item>
    <ion-label position="fixed">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="newDato.Nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Password</ion-label>
    <ion-input type="text" [(ngModel)]="newDato.password"></ion-input>
  </ion-item>
  
  <ion-button (click)="addDatos()" expand="full">
    Agregar datos
  </ion-button>

  <ion-list #myList>
    <ion-list-header>
      <ion-label>Mis Datos</ion-label>
    </ion-list-header>

    <ion-list>
      <ion-item-sliding *ngFor="let dato of datos">
        <ion-item>
          <ion-label text-wrap>
            <h3>{{dato.Nombre}}</h3>
            <ion-text color="secondary">
              <p>{{dato.password}}</p>
            </ion-text>
            <p>{{dato.modified | date: 'short'}}</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="secondary" (click)="updateDatos(dato)">Actualizar</ion-item-option>
          <ion-item-option color="danger" (click)="deleteDatos(dato)">Eliminar</ion-item-option> 
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-list>

  <ion-button type="submit" expand="block" routerLink="/pokemones">
        Siguiente
    </ion-button>

</ion-content>